main {
  position: relative;
  display: block;
  color: white;
}

.summary {
  margin-bottom: 8em;
  padding: 2em 3em;
  transition: all 0.3s ease-in-out;
  h2 {
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  h3.byline {
    font-weight: 100;
    font-style: italic;
    position: relative;
    z-index: 1;
    font-size: 2rem;
    margin: 1rem 0;
    &::before {
      content: '';
      position: absolute;
      height: calc(100% - 1.3em);
      width: 100%;
      top: 0.6em;
      left: 0.3em;
      z-index: -1;
      background-color: #333333;
    }
  }
  &:hover {
    background-color: hsla(0, 0, 100, 0.2);
    border-radius: 10px;
  }
  @media (max-width: 580px) {
    padding: 20px 30px 20px 30px;
  }
}

.split {
  display: flex;
  padding: 0;
  margin: 0;
  transform: translateX(-10%);
  width: 140%;
  > * {
    width: 120%;
    padding: 0 1em;
  }
}

nav {
  margin: 0 auto 3rem;
  width: 79ch;
}

.nav-layout {
  padding-top: 10rem;
}

.content-margin {
  flex-grow: 8;
  margin: 0 4rem;
}
.content-margin > h1 {
  padding-bottom: 3rem;
  @media (max-width: 580px) {
    margin-left: 30px;
  }
}

.clean-text {
  a,
  a:hover p,
  a:visited {
    text-decoration-line: none;
    text-decoration-style: none;
    text-decoration: none;
    color: white;
  }
}
