article {
  margin: 0 auto 0 auto;
  img,
  video {
    border-radius: 10px;
    // margin: 2.5em auto 0 auto;
    display: block;
    -webkit-box-shadow: 0 30px 36px -36px hsla(0, 0, 0, 1);
    box-shadow: 0 30px 36px -36px hsla(0, 0, 0, 1);
  }
  h2 {
    // font-size: 2.6em;
    font-weight: 400;
  }
  h3 {
    margin-top: 1.5em;
    font-size: 1.6em;
    margin-bottom: 0.4rem;
  }
  a {
    text-decoration: underline;
  }
}

.summary img,
.summary video {
  margin-top: 1em;
}

.fukol-grid {
  display: flex; /* 1 */
  flex-wrap: wrap; /* 2 */
  margin: -0.5em; /* 5 (edit me!) */
}

.fukol-grid > * {
  flex: 1 0 100%; /* 3 (edit me!) */
  margin: 0.5em; /* 4 (edit me!) */
}

.content-container {
  max-width: 79ch;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.post-description {
  h1 {
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    line-height: 1.3em;
    z-index: 1;
    &::before {
      background-color: hsl(0, 0, 20);
      content: '';
      position: absolute;
      height: calc(100% - 0.5em);
      width: 100%;
      top: 0.6em;
      left: 0.3em;
      z-index: -1;
    }
  }
  h2.byline {
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
.post-meta {
  font-size: 1.2em;
  font-family: $heading-font-family;
  font-weight: 300;
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0.4em;
  em {
    font-weight: 900;
    font-style: italic;
  }
}

.full-width {
  width: 100%;
}
.no-shadow {
  -webkit-box-shadow: 0 0 0 0 hsla(0, 0, 0, 0);
  box-shadow: 0 0 0 0 hsla(0, 0, 0, 0);
}

.back {
  font-family: $heading-font-family;
  margin: 0 auto 0;
  &:before {
    content: 'â† ';
  }
}
.prototype-feature {
  margin-bottom: 1.7rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.1rem dotted white;
  background-color: hsl(0, 0, 15);
  &:before {
    content: 'Prototype!';
    display: block;
    font-family: $heading-font-family;
    font-weight: 400;
  }
}
.gallery {
  display: flex;
  justify-content: center;
  > * {
    margin-left: 1em;
    width: 300px;
  }
}
