---

title: Ethnography and Film
date: 2019-12-26 11:17 GMT
tags: ["film", "ethnography"]
byline: Finding truth in film and telling stories that matter
publish_to_blog: false
published: false
permalink: ethnography-and-films

---
Notes:
• experience
• embodiment
• reflection
• researcher is part of context

It’s the Christmas Holidays and I’ve been watching a lot of films as my veins ossify into a cheesy husk. I’ll admit, it’s been pretty good.

In particular I’ve been watching a lot of Werner Herzog documentaries and a documentary series by the Guardian called Anywhere but Westminster by John Harris and John Domokos. I hadn’t deliberately chosen these films because they had anything in common, but I found myself watching many honest first hand accounts of how people experience the world. Herzog and Harris are also fully present within their films and acknowledge their own perspectives when presenting these films. Harris often jokes about being a Guardian journalist and Herzog likes 

There's a strong vein of ethnography running through these films and they seem to do the things we deem important as ethnographers. They take an emic approach to research in that they treat people as experts in their own experience. The Anywhere but Westminster films are often dominated by vox pops which are fairly maligned due to the way they're conducted.
Î
<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/I4-kAivEE7o?start=899" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

I suspect it’s got something to do with having just completed a research methods course but I'm viewing many of these films through the lens of a researcher.

Mentions qualitative methods. Shows a parallel with what's going on in business. Suggests a broader move of society from a positivist to more interpretevist. Parmenidean to Heraclitean.

Hegemonic powers have been trying to create an image of where we are through postivist theory. Creating an objectivist view of the world but now it's so in contrast with how people live that seemingly people are turning to a more construcitivist view of the world. As described in Hypernormalisation with Adam Curtis.

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/t7Y02-03ZFU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/MBRJn69L9ao" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/rYnO2wuIiBg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="100%" height="400" src="https://www.youtube-nocookie.com/embed/ZrNxhNszIAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

Miranda July - "He was the one who taught me from such a young age that you could just make something. The physical act of gluing something together was really formative for me." - <a href="https://www.theguardian.com/lifeandstyle/2017/feb/11/miranda-july-interview-i-always-jump-in-to-stop-injustice">Guardian interview with Miranda July</a>