@charset "utf-8";

// Define defaults for each variable.

@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat:100i,100,300,400,900i,900|Spectral:200,400");

$body-font-family: "Spectral", "Times New Roman", Times, serif;
$base-font-family: "Spectral", Helvetica, Arial, sans-serif !default;
$heading-font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;

$background-color: hsl(0, 0, 12) !default;
$brand-color: hsl(200, 100, 100) !default;
$accent-color: #fd6660;

$grey-color: hsla(165, 60, 42, 1) !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

@import "partials/_header.scss";

// Import partials.
@import "partials/_debug.scss";
@import "partials/_base.scss";
@import "partials/_layout.scss";
@import "partials/_posts.scss";
// @import "partials/_highlighting.css";
@import "partials/_syntax-highlighting.scss";
@import "partials/_footer.scss";
