<!doctype html>
<html lang="en">
  <%= partial(:"layouts/partials/head", :locals => {:title => current_page.data.title}) %>
    <body>
        <main id="main">
            <div class="content-container">
                <div class="content-margin">
                    <%= yield %>
                </div>
            </div>
        </main>
    </body>

</html>