<!doctype html>
<html>
  <%= partial(:"layouts/partials/head", :locals => {:title => "Belonging"}) %>
    <body>
        <div class="main" role="main">
            <div class="content-container">
                <div class="content-margin">
                    <%= yield %>
                </div>
            </div>
        </div>
    </body>

</html>