<!doctype html>
<html lang="en">
  <%= partial(:"layouts/partials/head", :locals => {:title => "It's me design blog."}) %>
    <body>
      <%= partial "layouts/partials/full-header" %>

        <main id="main">
          <div class="content-container">
            <div class="content-margin">
              <h1>Latest Posts</h1>
              <%= yield %>
            </div>
          </div>
        </main>
        <a rel="me" href="https://mastodon.scot/@struan" style="height:0px;">Mastodon</a>
    </body>

</html>