<!doctype html>
<html>
  <%= partial(:"layouts/partials/head", :locals => {:title => "It's me design blog."}) %>
    <body>
      <%= partial "layouts/partials/full-header" %>

        <main role="main" id="main">
          <div class="content-container">
            <div class="content-margin">
              <h1>Latest Posts</h1>
              <%= yield %>
            </div>
          </div>
        </main>
    </body>

</html>