<!doctype html>
<html>
  <%= partial(:"layouts/partials/head", :locals => {:title => "Struan's portfolio"}) %>
    <body>
      <%= partial "layouts/partials/full-header" %>

        <main role="main" id="main">
          <div class="content-container">
            <div class="content-margin">
              <h1>Portfolio</h1>
              <a class="back" href="../">Blog posts</a>
              <%= yield %>
            </div>
          </div>
        </main>
    </body>

</html>