@media only screen and (max-width: 1000px) {
    .content {
        width: 460px;
    }

    #intro {
        margin-top: 30%;
        width: 600px;

        p {
            font-size: 1em;
        }

        h1 {
            font-size: 3em;
        }

        button {
            height: 35px;
            font-size: 0.7em;
        }
    }
}

@media only screen and (max-width: 641px) {
    html {
        background: url("../images/bglong.jpg") no-repeat center center fixed;
    }

    .contact {
        width: 130px;
    }

    #intro {
        width: 400px;
    }

    .content {
        width: 200px;
    }
}

@media only screen and (max-width: 460px) {
    #intro {
        width: 300px;
    }
}

@media only screen and (max-width: 300px) {
    #intro {
        width: 200px;
    }
}