<div class="bio"> Hello, I'm Struan. I'm a product designer who specialises in prototyping.
      Here, I'm hoping to share some insights into product design and hopefully get a bit better at writing.
      
</div>
      <!-- I'm Struan. I'm a Scottish Product Designer that specialises in prototyping. I love experimenting with new technologies,
      playing with silly ideas and creating fun, beautiful experiences for everyone. -->