<div class="bio">
    <p>Hello, I'm Struan. I'm a product designer who specialises in prototyping.</p>
    <p>Here I'll be practicing writing thoughtfully, playing with code and trying to make this an interesting and fun place to visit.</p>
</div>