<div class="bio"> Hello, I'm Struan. I'm a product designer who specialises in prototyping.
      Here, I'm hoping to share some insights into product design and hopefully get a bit better at writing.
      
</div>