<div class="note">Get in touch —</div>
    <ul class="info">
        <li><a href="http://twitter.com/struanfraser">Twitter – @struanfraser</a></li>
      </ul>
  <div class="note">Other Work —</div>
    <ul class="info">
        <li><a href="http://behance.net/struanfraser">Behance – @struanfraser</a></li>
        <li><a href="http://github.com/skinny-malinky">Github – @Skinny-Malinky</a></li>
      </ul>
  </div>