<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Struan is a designer who like to create compelling experiences through research and code. Here, you'll find tools for designers, experiments and reflection.">
  <meta name="og:title" content="Struan's blog">
  <meta name="og:description" content="Struan is a designer who like to create compelling experiences through research and code. Here, you'll find tools for designers, experiments and reflection.">
  <meta name="og:url" content="https://www.struanfraser.co.uk">
  <meta name="og:image" content="<%= config[:host] %>/images/hello.png">
  <link rel="stylesheet" href="<%= config[:host] %>/stylesheets/main.css">
  <title>
  <%= title %>
  </title>
</head>