  <div class="intro">
  <%= link_to "Struan Fraser", config[:host], :class => "site-title" %>

    <div class="site-capabilities">
      <ul>
        <li>Product Design</li>
        <li>Prototyping</li>
        <li>User Research</li>
        <li>Creative Code</li>
      </ul>
    </div>