<header class="site-header" role="banner">
  
  <div class="intro">
    <%= link_to "Struan Fraser", config[:host], :class => "site-title" %>

    <div class="site-capabilities">
      <ul>
        <li>Product Design</li>
        <li>Prototyping</li>
        <li>User Research</li>
        <li>Creative Code</li>
      </ul>
    </div>
    <div class="note">Get in touch —</div>
    <ul class="info">
        <li><a href="http://twitter.com/struanfraser">Twitter – @struanfraser</a></li>
        <li><a href="http://github.com/skinny-malinky">Github – @Skinny-Malinky</a></li>
      </ul>
  </div>

  <div class="hand-container">
    <div class="hover-container">
      <div class="red-hand"></div>
      <div class="green-hand"></div>
      <div class="blue-hand"></div>
    </div>
  </div>

</header>