---
title: A Little Bit of Christmas Code
date: 2023-12-23 20:56 GMT
tags: ['christmas', 'creative-code', 'p5js', 'games']
byline: Making daft wee things for Christmas and learning what games can do
publish_to_blog: true
permalink: a-little-christmas
---

<img src="../images/2023/santr.jpeg" alt="A p5js sketch showing a daft wee set of choices for Santa to make from the head elf" class="full-width"></img>

### Hello again test test, is anyone there

It's been a long time since I've posted anything here and like everyone, life's very different to what it was in 2019. I've finished a bout of studying citizenship and design, I've worked with a group of friends to make some fun wee games and I've started a new job in a new city.

I've just uploaded a little Christmas sketch as invited to by the ever kind and creative [Rianna](https://twitter.com/vividfax) and [Mike](https://twitter.com/mtrc). It's now available on day 20 of the Generative Advent Calendar. You'll have to forgive the way it looks, it's been a very busy Christmas and I haven't written code properly for some time. That being said though, I'm pleased with what it turned into in it's "My first HTML project" style. I strongly recommend you have a look at the other contributors though, they're much better!

<figure>
<a href="https://generativeadvent.itch.io/generative-advent-2023"><img src="../images/2023/advent.jpg" alt="A p5js sketch illustrating a house with 25 windows at Christmas time" class="full-width"></img></a>
<figcaption>Generative Advent 2023</figcaption>
</figure>

In the depths of the pandemic, Rianna and I co-worked on a bunch of little creative sketches which turned into Games for Crows. I spent a good bit more time thinking about game design than I ever had previously and we carved out a small niche in Games for Crows. We wanted to make things that were reflective and relaxing, it seemed appropriate in the midst of a pandemic. Rianna then became extremely prolific and produced a whole multitude of games tools and fidget toys.

Later we invited Ryan and Matt to both write and produce illustrations for a game that plays with different ideas of who we are and how we participate in our community and wider society. Those games are still in a cupboard that has been firmly shut since the pandemic but I will get round to releasing at least one of them this year.

<figure>
<img src="../images/2023/project-arc.png" alt="A browser window showing an abstract 3d visualisation of an alien planet" class="full-width"></img>
<figcaption>Project Arc</figcaption>
</figure>

And back to the Christmas sketch. This was a very small contribution to imagining things differently. Years ago, I heard an expert describe how authors spend chapters and chapters trying to get the reader to project themself onto the protagonist in a book. In a game, you need only pick up the controller and push forward, and magically the projection has already happened. You're movement and the character's is one. It's so much easier to reveal new possibilities and ideas of what's possible through characters in computer games because projection and the associated empathy is much smoother. Anyway, I hope you all have some proper restful holidays, I'm off to drink a few pints of gravy!

<figure>
<a href="https://gamesforcrows.itch.io/">
<img src="../images/2023/gfc.png" alt="A screenshot of the Games for Crows itch page" class="full-width"></img>
</a>
<figcaption>Games for Crows on itch.io</figcaption>
</figure>

P.S. Here are some books I really liked this year.

<div class="gallery">
    <img src="../images/2023/lazy.jpeg" alt="Lazy City by Rachel Connolly"></img>
    <img src="../images/2023/dawn.jpeg" alt="Dawn of Everything by David Graeber and David Wengrow"></img>
    <img src="../images/2023/pastoral.jpg" alt="English Pastoral by James Rebanks"></img>
    <img src="../images/2023/zami.jpg" alt="Zami: A New Spelling of My Name A Biomythography"></img>
</div>