---

title: Personas for BBC Food
byline: A reflection on the importance of personas
date: 2018-10-09 17:10 BST
tags: personas, bbc, food, design
permalink: bbc-food
published: false

---

<img src="<%= config[:host] %>/blog/posts/2018/images/bbc-food/hero.jpg" alt="A BBC food app detailing instructions on how to make pasta with purple sprouting broccoli.">

I had an interview with the BBC some years ago and it's proved to be useful to some of the work I'm doing at the moment. It's given me a chance to reflect on the importance of personas at a time when they're coming under criticism. 

> Re-imagine the BBC Food experience on mobile.

The interview is scheduled for two weeks after the task is described. Time is limited: I want to make sure my ideas are informed and come across clearly. I discuss with some UX friends and sketch out a primitive research plan. *(I'd love to show those sketches but I have since lost the sketchbook.)*

## Recruitment
The people who participated did not have the *range of abilities and experiences* that reflect the everyday users of BBC Food. This project would require spending some time finding users who are displaying a range of behaviours that have different abilities and backgrounds.

<img src="<%= config[:host] %>/blog/posts/2018/images/bbc-food/users.jpg" alt="Three users displayed in diagonal slices. Each has a colour shifted hue.">
<span class="caption">Our participants</span>

## Scenarios

For persona hypotheses, I sketched out some assumptions and separated people into suspected use cases. With more time and resources I'd be asking subject matter experts and attempting to get my hands on as much data as possible. Short of that – I conducted some desk research around food apps, common cooking techniques.

Some of the 

## Notes

People appear to follow recipes completely differently. Many just look at the ingredients. Others follow the details meticulously. 

## When designing the thing

Important to easily pick out ingredients and instructions. 